<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ENC</title>
  <link rel="stylesheet" href="{% static 'C:\ENC\APP\static\css\bootstrap.min.css' %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg" style="background-color: #005e90;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <span class="navbar-brand mb-0 h1" style="color: #fffff0;">Empresa Nacional de Combustibles</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" style="color: #fffff0;" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fffff0;" href="#">Plantas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: #fffff0;" href="#">Ingresar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% if user.is_authenticated %}
      <p>Bienvenido, {{ user.username }}</p>
      <p>Grupo(s): 
        {% for group in user.groups.all %}
            {{ group.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
    {% else %}
      <p>No estás autenticado. <a href="{% url 'login' %}">Inicia sesión</a></p>
    {% endif %}
  </header>

  <div class="container mt-5">
    <h2>Todos los Registros</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Combustible</th>
          <th>Litros</th>
          <th>Fecha</th>
          <th>Operador</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for registro in registros %}
        <tr>
          <td>{{ registro.codigo_combustible }}</td>
          <td>{{ registro.litros_produccion }}</td>
          <td>{{ registro.fecha_produccion }}</td>
          <td>{{ registro.operador.user.username }}</td>
          {% if user.is_authenticated and registro.operador.user == user %}
            <td><a href="{% url 'editar_registro' registro.pk %}" class="btn btn-primary">Editar</a></td>
          {% else %}
            <td>No disponible</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script src="{% static 'C:\ENC\APP\static\js\bootstrap.bundle.min.js' %}"></script>
</body>
</html>
